 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie finder</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="dist/css/ratchet.min.css">
    <link rel="stylesheet" href="dist/css/custom.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="dist/js/ratchet.min.js"></script>
  </head>
  <body>
        <header class="bar bar-nav">
            <h1 class="title">Add Poll</h1>
            <a class="icon icon-left-nav pull-left" href="polls.html" data-transition="slide-out"></a>
        </header>
    <div class="content">
    	<form class="add_poll_form">
    	  <label for="name">Poll Name</label>
		  <input type="text">
		  <label for="description">Poll Description</label>
		  <textarea rows="4"></textarea>
		  <label for="date_time_poll">Date and Time</label>
		  <input type="datetime-local" name="date_time_poll">
		  <label for="date_time_poll">Friends</label>
		  <select class="form_friends" name="friends" multiple>
			  <option value="volvo">Danish</option>
			  <option value="saab">Akhil</option>
			  <option value="opel">Neel</option>
			  <option value="audi">Mihir</option>
		  </select>
		  <button class="btn btn-positive btn-block">Create Poll</button>
		</form>
	</div>
</body>
</html>