<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie finder</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="dist/css/ratchet.min.css">
    <link rel="stylesheet" href="dist/css/custom.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="dist/js/ratchet.min.js"></script>
  </head>
  <body>
    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <h1 class="title">[Poll Name]</h1>
        <nav class="bar bar-tab">
        <a class="tab-item" href="home.html" data-transition="slide-out">
          <span class="icon icon-home"></span>
          <span class="tab-label">Home</span>
        </a>
        <a class="tab-item active" href="polls.html" data-transition="slide-out">
          <span class="icon icon-list"></span>
          <span class="tab-label">Polls</span>
        </a>
        <a class="tab-item" href="#">
          <span class="icon icon-person"></span>
          <span class="tab-label">Profile</span>
        </a>
        </nav>
    </header>

    <div class="content">
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
        <h1 id="countdown_clock">9:32</h1>
        <p id="poll_description" class="content-padded">[Description ex: Neel's 21st Bday Dinner!]</p>
        <p id="poll_time">[Time ex: 8:00 pm - Dec 13th, 2014]</p>
          <form class="content-padded">
          <input type="text" placeholder="Search">
         </form>

            <div class="card">
              <ul class="table-view">
                <li class="table-view-cell media">
                  <a class="navigate-right" href="restaurant.html" data-transition="slide-in">
                    <span class="badge">#</span>
                    <img class="media-object pull-left" src="http://placehold.it/42x42">
                    <div class="media-body">
                      Restaurant 1
                      <p>Restaurant Type</p>
                    </div>
                  </a>
                </li>
                <li class="table-view-cell media">
                  <a class="navigate-right" href="restaurant.html" data-transition="slide-in">
                    <span class="badge">#</span>
                    <img class="media-object pull-left" src="http://placehold.it/42x42">
                    <div class="media-body">
                      Restaurant 1
                      <p>Restaurant Type</p>
                    </div>
                  </a>
                </li>
                <li class="table-view-cell media">
                  <a class="navigate-right" href="restaurant.html" data-transition="slide-in">
                    <span class="badge">#</span>
                    <img class="media-object pull-left" src="http://placehold.it/42x42">
                    <div class="media-body">
                      Restaurant 1
                      <p>Restaurant Type</p>
                    </div>
                  </a>
                </li>
                <li class="table-view-cell media">
                  <a class="navigate-right" href="restaurant.html" data-transition="slide-in">
                    <span class="badge">#</span>
                    <img class="media-object pull-left" src="http://placehold.it/42x42">
                    <div class="media-body">
                      Restaurant 1
                      <p>Restaurant Type</p>
                    </div>
                  </a>
                </li>
                <li class="table-view-cell media">
                  <a class="navigate-right" href="restaurant.html" data-transition="slide-out">
                    <span class="badge">#</span>
                    <img class="media-object pull-left" src="http://placehold.it/42x42">
                    <div class="media-body">
                      Restaurant 1
                      <p>Restaurant Type</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
        </div>
  </body>
</html>